<div class="container flex flex-col items-center mx-auto">
<div class="bg-blue-500 mt-14 p-10" style="border-radius: 15px;
background: #fff;
box-shadow:  13px 13px 26px #d0d0d0,
             -13px -13px 26px #ffffff;">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-10">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "relative block w-full appearance-none rounded-xl border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
    </div>

    <div class="field mt-5">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", :class => "relative block w-full appearance-none rounded-xl border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"%>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mt-5">
      <%= f.submit "Sign in", :class => "group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
    </div>
  <% end %>
</div>
</div>