<header class="mb-20">
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="" class="flex items-center">
          <img src="" class="mr-3 h-6 sm:h-9" alt="">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">CheckApp</span>
      </a>
      <div id="navbar-default">
        <ul>
          <li>
            <a href="#"  aria-current="page">
            <% if user_signed_in? %>
              <%= link_to 'Admin', admin_attendances_path, :class => "block py-2 pr-4 pl-3 text-white bg-green-600 hover:bg-green-700 rounded dark:text-white" %>
            <%else%>
              <%= link_to 'Admin', new_user_session_path, :class => "block py-2 pr-4 pl-3 text-white bg-green-600 hover:bg-green-700 rounded dark:text-white" %>
            <% end %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="flex">
  <div 
    class="mx-auto rounded-xl bg-gray-300 px-7 flex flex-col items-center self-center"
    style="width: 300px; border-radius: 15px; background: #fff; box-shadow:  13px 13px 26px #d0d0d0, -13px -13px 26px #ffffff;"
  >
    <p data-controller="hello" class="text-5xl font-bold tracking-tight text-gray-900 px-5 my-7"></p>
    <div class="">
    <%= form_with url: "/home#make_attendance", method: :post, :class => "flex flex-col items-center my-16" do |form| %>
      <%= form.label :secret_number, "Numero privado:" %>
      <%= form.text_field :secret_number, :class => "mb-4 relative block w-full appearance-none rounded-xl border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
      <%= form.submit :class => "group relative flex w-full justify-center rounded-md border border-transparent bg-green-600 py-2 px-4 text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" "Check" %>
    <% end %>    
    </div>
  </div>
</div>